<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type"
		content="text/html;charset=utf-8" />
	<title>イザカヤブックマーク</title>
	<%= stylesheet_link_tag    "application" %> 
	<%= stylesheet_link_tag 'jquery.simple-color-picker.css' %> 
	 <script type="text/javascript" src="http://code.jquery.com/jquery-1.4.3.min.js"></script>
     <%= javascript_include_tag 'js/bootstrap.min.js'%>
     <%= javascript_include_tag 'jquery.simple-color-picker.js'%>
	<script type="text/javascript">
		$(document).ready(function() {
			$('input#color2').simpleColorPicker({ colorsPerLine: 16 });
			var targetText = "<%= @colors  %>";
			var colorlist = targetText.split(",");
			$('input#user_color').simpleColorPicker({ colors: colorlist, colorsPerLine: 15 });
		});
	</script>
</head>
<body>
	<div id="container">
		<div id="header">
			<h1><a href="kaisyalist.html">イザカヤブックマーク</a></h1>
		</div>

		<div class="menu">
			<ul>
				<li><a href="../kaisya/top.html" class="othermenu">TOP</a></li>
				<li><a href="../kaisya/index.html" class="othermenu">会社で使ったお店</a></li>
				<li><a href="index.html" class="selectmenu">個人的なオススメ！</a></li>
			</ul>
		</div>
		</div>

		<div class="post">
			<h2>ユーザー 追加</h2>
			<%= form_for(@user) do |f| %>
			<% if @user.errors.any?%>
				<div id="error_explantion">
					<ul>
						<% @user.errors.full_messages.each do |msg| %>
							<li><%= msg %></li>
						<% end %>
					</ul>
				</div>
			<% end %>
			<table border="1" summary="追加項目" class="additem">

			<tr>
				<th>あなたの名前<span class="need">*</span></th>
				<td><%= f.text_field :user_name %></td>
			</tr>
			<tr>
				<th>好きな色<span class="need">*</span></th>
				<td>
					<%= f.text_field :color, { :readonly => "readonly" } %>				
				</td>
			</tr>
			</table>
		<p class="need">
		<strong>* 必須入力</strong>
		</p>
		<div class="btnarea">
			<%= f.submit 'あなたの名前を追加する', {:class => 'btn btn-info addbtn'} %>
		</div>	
		<% end %>	
		</div>
	</div>
</body>
