<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type"
		content="text/html;charset=utf-8" />
	<title>イザカヤブックマーク</title>
	<%= stylesheet_link_tag 'application' %>
</head>
<body>
	<div id="container">
		<div id="header">
			<h1><a href="/top">イザカヤブックマーク</a></h1>
		</div>

		<div class="menu">
			<ul>
				<li><a href="/top" class="othermenu">TOP</a></li>
				<li><a href="/kaisya/index" class="selectmenu">会社で使ったお店</a></li>
				<li><a href="/osusumes" class="othermenu">個人的なオススメ！</a></li>
				<li><a href="/users" class="othermenu">みんなの名前</a></li>
			</ul>
		</div>
		<div class="hukidashi" style="margin-left:175px">
		</div>

		<div class="post">
			<h2>会社で使ったお店　口コミ追加</h2>
			<%= form_for([@shop,@shop.kuchikomis.build]) do |f| %>
				<% if @kuchikomi.errors.any? %>
					<div id="error_explantion">
						<ul>
							<% @kuchikomi.errors.full_messages.each do |msg| %>
								<li><%= msg %></li>
							<% end %>
						</ul>
					</div>
				<% end %>			
			<h2 class="shopname"><%= @shop.shopname %></h2>
			</tr>
			<table border="1" summary="追加項目" class="edit">
			<tr>
				<th width="140px">あなたの名前<span class="need">*</span></th>
				<td width="530px">
					<%= f.text_field :kuchi_person_name %>
				</td>
			</tr>
			<tr>
				<th>評価<br>
					<span class="setsumei">星の数で評価してください</span>
				</th>
				<td>
					<div id="kuchikomi_hyouka"></div>
				</td>	
			</tr>
			<tr>
				<th>
					口コミ<span class="need">*</span>
				</th>
				<td><%= f.text_area :kuchi_text, {:class => 'span5', :rows => 6, :maxlength => 140}  %>
			</tr>
		</table>
		<p class="need">
		<strong>* 必須入力</strong>
		</p>
		<div class="btnarea">
			<%= f.submit '口コミを追加する', {:class => 'btn btn-info addbtn'} %>
		</div>	
	<% end %>
		</div>
	</div>
	<script src="js/bootstrap.min.js"></script>
	<%= javascript_include_tag 'application' %>
	<script>
	$('#kuchikomi_hyouka').raty({
		size     : 36,
		starOff: '/assets/star-off.png',
	    starOn : '/assets/star-on.png',
		scoreName: 'kuchikomi[hyouka]' 
	});
	</script>
</body>
